//=================================================TYPOHRAPHY================================================//

$font: 'Barlow Semi Condensed', sans-serif;
$font-size: 15px;
$line-height: 2.1;

//===================================================COLORS AND HUES========================================//

$primary-text-color: #FFFFFF;
$secondary-text-color: #3B4262;
$primary-bg-color: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
$secondary-bg-color: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);

//===========================TRANSITIONS======================================================//

$transition-time: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);