p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 2.1;
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
  color: #FFFFFF;
  overflow-x: hidden;
}

body.is-hidden {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.2);
          transform: translate(-50%, -50%) scale(0.2);
  pointer-events: none;
  width: 100%;
  height: 100vh;
  padding: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 8px;
  z-index: 20;
  visibility: none;
  opacity: 0;
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-show {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@media screen and (min-width: 1366px) {
  .modal {
    width: 400px;
    height: 415px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}

.overlay.is-show {
  opacity: 1;
  visibility: visible;
  overflow-y: scroll;
}

.is-hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1366px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.score-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  padding: 12px;
  border: 3px solid rgba(255, 255, 255, 0.289199);
  border-radius: 5px;
}

@media screen and (min-width: 1366px) {
  .score-section {
    margin-top: 48px;
    padding: 18px 24px;
    border-radius: 15px;
  }
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  min-width: 128px;
  min-height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  border: 1px solid;
  border-radius: 8px;
  cursor: pointer;
  background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
  color: #FFFFFF;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background: -webkit-gradient(linear, left bottom, left top, from(#F3F3F3), to(#FFFFFF));
  background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
  color: #3B4262;
}

.logo {
  width: 83px;
  height: 48px;
  padding-left: 12px;
}

@media screen and (min-width: 1366px) {
  .logo {
    width: 159px;
    height: 96px;
    padding-left: 20px;
  }
}

.score-field {
  padding: 10px 22px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F3F3F3), to(#FFFFFF));
  background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 4px;
  text-align: center;
}

@media screen and (min-width: 1366px) {
  .score-field {
    padding: 16px 47px;
    border-radius: 8px;
  }
}

.score-field-title {
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1.5625px;
  color: #2A45C2;
}

@media screen and (min-width: 1366px) {
  .score-field-title {
    font-size: 16px;
    letter-spacing: 2.5px;
  }
}

.score {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: #565468;
}

@media screen and (min-width: 1366px) {
  .score {
    font-size: 64px;
  }
}

.game-items-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 105px;
}

@media screen and (min-width: 1366px) {
  .game-items-list {
    width: 476px;
    margin-top: 64px;
  }
}

.game-field-bg-icon {
  position: absolute;
  top: 65px;
  z-index: -1;
  width: 166px;
  height: 188px;
}

@media screen and (min-width: 1366px) {
  .game-field-bg-icon {
    top: 99.5px;
    width: 254px;
    height: 287px;
  }
}

.game-item-icon {
  fill: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
}

.paper {
  width: 48px;
  height: 56px;
}

@media screen and (min-width: 1366px) {
  .paper {
    width: 73px;
    height: 86px;
  }
}

.rock {
  height: 50px;
  width: 50px;
}

@media screen and (min-width: 1366px) {
  .rock {
    width: 76px;
    height: 76px;
  }
}

.scissors {
  width: 63px;
  height: 63px;
}

@media screen and (min-width: 1366px) {
  .scissors {
    width: 96px;
    height: 96px;
  }
}

.game-item-btn {
  position: relative;
  display: inline-block;
  outline: none;
  background-color: #BABFD4;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.game-item-btn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
}

.game-item-btn.paper-btn {
  padding: 19px 25.5px;
  border: 15px solid #4664F4;
}

@media screen and (min-width: 1366px) {
  .game-item-btn.paper-btn {
    padding: 29px 39px;
    border: 23px solid #4664F4;
  }
}

.game-item-btn.paper-btn::before {
  background-color: #2A45C2;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  -webkit-transform: translate3d(0, 0.75em, -1em);
          transform: translate3d(0, 0.75em, -1em);
}

.game-item-btn.rock-btn {
  padding: 22px 24.5px;
  border: 15px solid #DB2E4D;
}

@media screen and (min-width: 1366px) {
  .game-item-btn.rock-btn {
    padding: 34px 38px;
    border: 23px solid #DB2E4D;
  }
}

.game-item-btn.scissors-btn {
  padding: 15.5px 18px;
  border: 15px solid #EB9F0E;
}

@media screen and (min-width: 1366px) {
  .game-item-btn.scissors-btn {
    padding: 24px 28px;
    border: 23px solid #EB9F0E;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */